In [1]:
import pandas as pd
import os

In [13]:
data_path = "../../data/corpus_for_sexism_french"

In [51]:
dataframes = []

if os.path.exists(f"{data_path}/corpus_with_text_1_86.csv"):
    dataframe = pd.read_csv(f'{data_path}/corpus_with_text_1_86.csv', encoding='utf-8', dtype={
        'i': int,
        'tweet_id': str,
        'full_text': str
    })
    dataframes.append(dataframe)
    
n = 400

dataframe_tmp = []
for i in range(400, 9200, 100):
    filename = f'{data_path}/corpus_with_text_df_{str(i)}.csv'
    if os.path.exists(filename):
        dataframe = pd.read_csv(filename, encoding='utf-8', dtype={
            'index': str,
            'tweet_id': str,
            'tweet_text': str
        })
        dataframe_tmp.append(dataframe)
combined_df = pd.concat(dataframe_tmp, ignore_index=True)
combined_df = combined_df.iloc[:,1:]
combined_df.columns = ['i', 'tweet_id', 'full_text']

In [52]:
combined_df

,i,tweet_id,full_text
0,87,966020955742048257,NaN
1,88,987033694488670208,NaN
2,89,987054871282114561,NaN
3,90,987035741250379784,NaN
4,91,987078666587967490,NaN
...,...,...,...
9010,9095,936906505936289792,NaN
9011,9096,936908000362749952,NaN
9012,9097,953979384343379968,Quelqu'un peut-il me dire au nom de quelle dis...
9013,9098,953991617228099584,NaN
9014,9099,953979201639641088,#Sexisme dans les manuels d’enseignement moral...

In [53]:
dataframes.append(combined_df)
final_dataframe = pd.concat(dataframes, ignore_index=True)

In [54]:
final_dataframe

,i,tweet_id,full_text
0,0,330425562201993216,NaN
1,1,326796299179548672,@MamzelleMNa Une très humble femme! #Ironie
2,2,334548844731826176,"BLOGUE - «Tsé, la parité homme-femme...» au se..."
3,3,332500824150392833,NaN
4,4,334424362033762304,NaN
...,...,...,...
9097,9095,936906505936289792,NaN
9098,9096,936908000362749952,NaN
9099,9097,953979384343379968,Quelqu'un peut-il me dire au nom de quelle dis...
9100,9098,953991617228099584,NaN
9101,9099,953979201639641088,#Sexisme dans les manuels d’enseignement moral...

In [56]:
final_dataframe.iloc[:, 1:].to_csv(f'{data_path}/corpus_with_text_final.csv')