In [1]:
import pandas as pd

In [29]:
folder_path = '../../data/corpus_for_sexism_french/'

In [30]:
df = pd.read_csv(f'{folder_path}corpus_SexistContent.csv', sep='\t', names=['id', 'label'])

In [31]:
df

                       id  label
0      327031890622164993      0
1      330425562201993216      0
2      326796299179548672      0
3      334548844731826176      0
4      332500824150392833      0
...                   ...    ...
12269  991769637506486274      1
12270  991930025955004416      1
12271  991937217789681664      1
12272  991948109910507520      1
12273  992014962582327296      1

[12274 rows x 2 columns]

In [32]:
df_id = df['id'].apply(lambda x: 'https://twitter.com/anyuser/status/' + str(x))

In [35]:
df_id

0        https://twitter.com/anyuser/status/32703189062...
1        https://twitter.com/anyuser/status/33042556220...
2        https://twitter.com/anyuser/status/32679629917...
3        https://twitter.com/anyuser/status/33454884473...
4        https://twitter.com/anyuser/status/33250082415...
                               ...
12269    https://twitter.com/anyuser/status/99176963750...
12270    https://twitter.com/anyuser/status/99193002595...
12271    https://twitter.com/anyuser/status/99193721778...
12272    https://twitter.com/anyuser/status/99194810991...
12273    https://twitter.com/anyuser/status/99201496258...
Name: id, Length: 12274, dtype: object

In [38]:
df_id.to_csv(f'{folder_path}corpus_with_link.csv', index=False, header=None)