In [16]:
import pandas as pd

folder_path = '../../data/corpus_for_sexism_french/'
df = pd.read_csv(f'{folder_path}corpus_SexistContent.csv', sep='\t', names=['tweet_id', 'label'], dtype={'tweet_id': str, 'label':str})

In [17]:
df2 = pd.read_csv(f'{folder_path}corpus_with_text_final.csv'
                ,names=['i','tweet_id', 'full_text']
                  )

In [26]:
df2.iloc[:, 1:]

                tweet_id                                          full_text
0               tweet_id                                          full_text
1     330425562201993216                                                NaN
2     326796299179548672        @MamzelleMNa Une très humble femme! #Ironie
3     334548844731826176  BLOGUE - «Tsé, la parité homme-femme...» au se...
4     332500824150392833                                                NaN
...                  ...                                                ...
9098  936906505936289792                                                NaN
9099  936908000362749952                                                NaN
9100  953979384343379968  Quelqu'un peut-il me dire au nom de quelle dis...
9101  953991617228099584                                                NaN
9102  953979201639641088  #Sexisme dans les manuels d’enseignement moral...

[9103 rows x 2 columns]

In [27]:
df3 = pd.merge(df, df2.iloc[:, 1:], on='tweet_id')

In [32]:
df_final = df3.loc[:, ['full_text', 'label']]
df_final

                                              full_text label
0                                                   NaN     0
1           @MamzelleMNa Une très humble femme! #Ironie     0
2     BLOGUE - «Tsé, la parité homme-femme...» au se...     0
3                                                   NaN     0
4                                                   NaN     0
...                                                 ...   ...
9553                                                NaN     1
9554  @enmarchefr @MarleneSchiappa Je n'arrête pas d...     1
9555                                                NaN     1
9556                                                NaN     1
9557                                                NaN     1

[9558 rows x 2 columns]

In [31]:

df_final.dropna(inplace=True)
df_final

                                              full_text label
1           @MamzelleMNa Une très humble femme! #Ironie     0
2     BLOGUE - «Tsé, la parité homme-femme...» au se...     0
5     Mise en ligne de mon article sur @PayeTaShnek ...     0
7     Hommage #journeedelafemme Toute sa vie elle a ...     0
8     Lustre bois flotté feuilles exotiques bleues a...     0
...                                                 ...   ...
9545  [Exclusif] #BalanceTonPorc, transparence, juge...     1
9547  Eric Monier, directeur de la rédaction de #LCI...     1
9548  .@annesaurat porte plainte contre son ancien r...     1
9550  Moïra Sauvage @excisionparlons "une pensée pou...     1
9554  @enmarchefr @MarleneSchiappa Je n'arrête pas d...     1

[3194 rows x 2 columns]

In [34]:
df_final.to_csv(f'{folder_path}/corpus_with_text_label_final.csv')

AttributeError: 'DataFrame' object has no attribute 'to_file'